@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #485d9a, #eba5ea);
}
.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 100px 50px;
}
.container .card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
}
.container .card:hover {
  height: 400px;
}
.container .card .image-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}
.container .card:hover .image-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
}
.container .card .image-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.container .card .contect {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0px 30px;
  height: 35px;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}
.container .card:hover .contect {
  top: 130px;
  height: 250px;
}
.container .card .contect h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr);
}
.container .card .contect p {
  color: #333;
}
.container .card .contect a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: var(--clr);
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 8px;
}
